In [1]:
from cities.utils import data_grabber
import matplotlib.pyplot as plt
import pandas as pd
# import geopandas as gpd

In [3]:
# # Save the area of each county in the US
# url = "https://www2.census.gov/geo/tiger/GENZ2021/shp/cb_2021_us_county_20m.zip"
# counties = gpd.read_file(url)
# counties = counties[["GEOID", "NAME", "STATE_NAME", "ALAND", "AWATER"]]
# counties.head()
# counties.to_csv("../../../../cities/data/raw/counties_area.csv")

# Alternatively: https://www.census.gov/library/publications/2011/compendia/usa-counties-2011.html#LND

In [2]:
counties_area = pd.read_csv("../../../../cities/data/raw/counties_area.csv")
population = pd.read_csv("../../../../cities/data/processed/population_wide.csv")

# 5-digit FIPS code
counties_area['GeoFIPS'] = counties_area['GEOID'].astype(str).str.zfill(5)
population['GeoFIPS'] = population['GeoFIPS'].astype(str).str.zfill(5)

population_density = population.copy()

# compute population density 
for index, row in population.iterrows():
    geofips = row['GeoFIPS']
    area_row = counties_area[counties_area['GeoFIPS'] == geofips]['ALAND']
    if area_row.size == 0:
        print('No area found for {}'.format(geofips))
    else:
        # iterate over all year columns
        for col in population.columns[2:]:
            tmp = row[col] / area_row.astype(float)
            population_density.loc[index, col] = tmp.iloc[0]


population_density.to_csv("../../../../cities/data/raw/population_density.csv")

In [3]:
population_density

,GeoFIPS,GeoName,1993,1994,1995,1996,1997,1998,1999,2000,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,01001,"Autauga, AL",0.000024,0.000025,0.000025,0.000026,0.000027,0.000027,0.000028,0.000029,...,0.000036,0.000036,0.000036,0.000037,0.000037,0.000037,0.000037,0.000038,0.000038,0.000038
1,01003,"Baldwin, AL",0.000027,0.000028,0.000029,0.000030,0.000032,0.000033,0.000033,0.000034,...,0.000046,0.000048,0.000049,0.000050,0.000051,0.000052,0.000054,0.000055,0.000057,0.000058
2,01005,"Barbour, AL",0.000012,0.000012,0.000012,0.000012,0.000012,0.000013,0.000013,0.000013,...,0.000012,0.000012,0.000012,0.000012,0.000011,0.000011,0.000011,0.000011,0.000011,0.000011
3,01007,"Bibb, AL",0.000011,0.000011,0.000011,0.000012,0.000012,0.000012,0.000013,0.000012,...,0.000014,0.000014,0.000014,0.000014,0.000014,0.000014,0.000014,0.000014,0.000014,0.000014
4,01009,"Blount, AL",0.000025,0.000025,0.000026,0.000027,0.000028,0.000029,0.000030,0.000031,...,0.000035,0.000035,0.000035,0.000035,0.000035,0.000035,0.000035,0.000035,0.000035,0.000035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,56037,"Sweetwater, WY",0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,...,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002
3070,56039,"Teton, WY",0.000001,0.000001,0.000001,0.000001,0.000002,0.000002,0.000002,0.000002,...,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002,0.000002
3071,56041,"Uinta, WY",0.000004,0.000004,0.000004,0.000004,0.000004,0.000004,0.000004,0.000004,...,0.000004,0.000004,0.000004,0.000004,0.000004,0.000004,0.000004,0.000004,0.000004,0.000004
3072,56043,"Washakie, WY",0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,...,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001
3073,56045,"Weston, WY",0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,...,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001,0.000001

In [13]:
population

,GeoFIPS,GeoName,1993,1994,1995,1996,1997,1998,1999,2000,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,01001,"Autauga, AL",36953.0,38186.0,39112.0,40207.0,41238.0,42106.0,42963.0,44021.0,...,55558.0,55594.0,56034.0,56278.0,56954.0,57371.0,57728.0,58245.0,58877.0,59095.0
1,01003,"Baldwin, AL",111416.0,116565.0,120896.0,125412.0,130164.0,134444.0,137555.0,141342.0,...,190941.0,196067.0,200759.0,204925.0,210004.0,215365.0,221132.0,227079.0,233140.0,239294.0
2,01005,"Barbour, AL",27371.0,27751.0,27854.0,28298.0,28415.0,28841.0,28866.0,29015.0,...,27320.0,27158.0,27043.0,26633.0,26217.0,25608.0,25380.0,25205.0,25180.0,24964.0
3,01007,"Bibb, AL",17757.0,18053.0,18507.0,18885.0,19388.0,19851.0,20560.0,19913.0,...,22682.0,22544.0,22586.0,22607.0,22654.0,22606.0,22383.0,22405.0,22223.0,22477.0
4,01009,"Blount, AL",41866.0,42520.0,44060.0,45344.0,47055.0,48824.0,50237.0,51107.0,...,57857.0,58024.0,58048.0,58168.0,58238.0,58676.0,58765.0,58956.0,59081.0,59041.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3069,56037,"Sweetwater, WY",40066.0,39960.0,39849.0,39257.0,38728.0,38565.0,38142.0,37552.0,...,44909.0,45010.0,44763.0,44492.0,43979.0,43277.0,42755.0,42434.0,42158.0,41614.0
3070,56039,"Teton, WY",13733.0,14320.0,14907.0,15494.0,16182.0,16883.0,17672.0,18381.0,...,21612.0,22287.0,22737.0,23002.0,23157.0,23270.0,23134.0,23242.0,23347.0,23575.0
3071,56041,"Uinta, WY",19581.0,19927.0,19884.0,19936.0,19935.0,20029.0,19901.0,19666.0,...,21058.0,21040.0,20928.0,20891.0,20846.0,20604.0,20475.0,20393.0,20441.0,20635.0
3072,56043,"Washakie, WY",8452.0,8484.0,8511.0,8471.0,8531.0,8585.0,8425.0,8252.0,...,8386.0,8381.0,8231.0,8224.0,8112.0,7936.0,7800.0,7728.0,7658.0,7705.0
3073,56045,"Weston, WY",6587.0,6696.0,6721.0,6768.0,6725.0,6739.0,6667.0,6627.0,...,7090.0,7153.0,7162.0,7236.0,7269.0,7008.0,6947.0,6938.0,6809.0,6745.0

In [14]:
counties_area

      Unnamed: 0  GEOID       NAME STATE_NAME       ALAND      AWATER GeoFIPS
0              0  13239    Quitman    Georgia   391703076    24158295   13239
1              1  18111     Newton    Indiana  1040539827     4349506   18111
2              2  19053    Decatur       Iowa  1377569408     4138626   19053
3              3  24013    Carroll   Maryland  1159355859    13112464   24013
4              4  29155   Pemiscot   Missouri  1275841039    53915406   29155
...          ...    ...        ...        ...         ...         ...     ...
3216        3216  41063    Wallowa     Oregon  8147835333    14191752   41063
3217        3217  13163  Jefferson    Georgia  1363771357     8059597   13163
3218        3218   2100     Haines     Alaska  6069358955  1041214321   02100
3219        3219   5117    Prairie   Arkansas  1677069877    72638193   05117
3220        3220  47025  Claiborne  Tennessee  1125619421    18052387   47025

[3221 rows x 7 columns]