In [1]:
import numpy as np
from cities.utils.data_grabber import find_repo_root, MSADataGrabberCSV, DataGrabberCSV
import pandas as pd
import numpy as np
import requests
from us import states

root = find_repo_root()

In [5]:
# # code for retrieving available variables

# variables_url = 'https://api.census.gov/data/2019/acs/acs5/profile/variables.json'


# response = requests.get(variables_url)
# variables_info = response.json()

# variables_df = pd.DataFrame.from_dict(variables_info['variables'], orient='index').reset_index()

# variables_df.to_excel(f'{root}/data/variables.xlsx', index=False)

In [6]:
variables = "NAME,DP03_0004E,DP03_0033E,DP03_0034E,DP03_0035E,DP03_0036E,DP03_0037E,DP03_0038E,DP03_0039E,DP03_0040E,DP03_0041E,DP03_0042E,DP03_0043E,DP03_0044E,DP03_0045E"

county_fips = "*" # all counties
tract = "*" # all tracts
api_key = '077d857d6c12d5b9b3aeafa07d2c1916ba12a86c' # private api key required to access the data https://api.census.gov/data/key_signup.html

interval = [2019, 2022]
dfs = []

for year in interval:
    for x in range(0, len(states.STATES)): # in this call it's not possible to use the '*' wildcard to access all states, so we need to iterate over all states
        fips = states.STATES[x].fips

        url = f'https://api.census.gov/data/{year}/acs/acs5/profile?get={variables}&for=tract:{tract}&in=state:{fips}&in=county:{county_fips}&key={api_key}'

        response = requests.get(url)

        assert response.status_code == 200, 'The data retrieval went wrong'  # 200 means success

        print(f'{fips} fips for year {year} done')

        data = response.json()

        df = pd.DataFrame(data[1:], columns=data[0])
        df['Year'] = year  # Add the year column

        dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

Warning: The process will take around 15min.
01 fips for year 2019 done
02 fips for year 2019 done
04 fips for year 2019 done
05 fips for year 2019 done
06 fips for year 2019 done
08 fips for year 2019 done
09 fips for year 2019 done
10 fips for year 2019 done
12 fips for year 2019 done
13 fips for year 2019 done
15 fips for year 2019 done
16 fips for year 2019 done
17 fips for year 2019 done
18 fips for year 2019 done
19 fips for year 2019 done
20 fips for year 2019 done
21 fips for year 2019 done
22 fips for year 2019 done
23 fips for year 2019 done
24 fips for year 2019 done
25 fips for year 2019 done
26 fips for year 2019 done
27 fips for year 2019 done
28 fips for year 2019 done
29 fips for year 2019 done
30 fips for year 2019 done
31 fips for year 2019 done
32 fips for year 2019 done
33 fips for year 2019 done
34 fips for year 2019 done
35 fips for year 2019 done
36 fips for year 2019 done
37 fips for year 2019 done
38 fips for year 2019 done
39 fips for year 2019 done
40 fips for year 2019 done
41 fips for year 2019 done
42 fips for year 2019 done
44 fips for year 2019 done
45 fips for year 2019 done
46 fips for year 2019 done
47 fips for year 2019 done
48 fips for year 2019 done
49 fips for year 2019 done
50 fips for year 2019 done
51 fips for year 2019 done
53 fips for year 2019 done
54 fips for year 2019 done
55 fips for year 2019 done
56 fips for year 2019 done
01 fips for year 2022 done
02 fips for year 2022 done
04 fips for year 2022 done
05 fips for year 2022 done
06 fips for year 2022 done
08 fips for year 2022 done
09 fips for year 2022 done
10 fips for year 2022 done
12 fips for year 2022 done
13 fips for year 2022 done
15 fips for year 2022 done
16 fips for year 2022 done
17 fips for year 2022 done
18 fips for year 2022 done
19 fips for year 2022 done
20 fips for year 2022 done
21 fips for year 2022 done
22 fips for year 2022 done
23 fips for year 2022 done
24 fips for year 2022 done
25 fips for year 2022 done
26 fips for year 2022 done
27 fips for year 2022 done
28 fips for year 2022 done
29 fips for year 2022 done
30 fips for year 2022 done
31 fips for year 2022 done
32 fips for year 2022 done
33 fips for year 2022 done
34 fips for year 2022 done
35 fips for year 2022 done
36 fips for year 2022 done
37 fips for year 2022 done
38 fips for year 2022 done
39 fips for year 2022 done
40 fips for year 2022 done
41 fips for year 2022 done
42 fips for year 2022 done
44 fips for year 2022 done
45 fips for year 2022 done
46 fips for year 2022 done
47 fips for year 2022 done
48 fips for year 2022 done
49 fips for year 2022 done
50 fips for year 2022 done
51 fips for year 2022 done
53 fips for year 2022 done
54 fips for year 2022 done
55 fips for year 2022 done
56 fips for year 2022 done

In [20]:
industry = combined_df.copy()

In [21]:
column_name_mapping = {
        "DP03_0004E": "employed_sum",
        "DP03_0033E": "agri_forestry_mining",
        "DP03_0034E": "construction",
        "DP03_0035E": "manufacturing",
        "DP03_0036E": "wholesale_trade",
        "DP03_0037E": "retail_trade",
        "DP03_0038E": "transport_utilities",
        "DP03_0039E": "information",
        "DP03_0040E": "finance_real_estate",
        "DP03_0041E": "prof_sci_mgmt_admin",
        "DP03_0042E": "education_health",
        "DP03_0043E": "arts_entertainment",
        "DP03_0044E": "other_services",
        "DP03_0045E": "public_admin",
    }

industry.rename(columns=column_name_mapping, inplace=True)

industry.head(2)

,NAME,employed_sum,agri_forestry_mining,construction,manufacturing,wholesale_trade,retail_trade,transport_utilities,information,finance_real_estate,prof_sci_mgmt_admin,education_health,arts_entertainment,other_services,public_admin,state,county,tract,Year
0,"Census Tract 38.02, Jefferson County, Alabama",2126,0,180,164,266,213,44,98,118,195,283,367,92,106,01,073,003802,2019
1,"Census Tract 11, Jefferson County, Alabama",1937,0,85,203,0,237,135,24,57,151,643,19,106,277,01,073,001100,2019

In [22]:
state_abbreviations = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

industry['GeoFIPS'] = industry.apply(lambda row: f"{row['state']}{row['county']}{row['tract']}", axis=1).astype(np.int64)

industry.drop(['state', 'county', 'tract'], axis=1, inplace=True)

def parse_geo_name(name):
    if ';' in name:
        parts = name.split(';')
    else:
        parts = name.split(',')

    if len(parts) >= 3:
        county = parts[1].strip().replace(' County', '')
        state_full = parts[2].strip()
        state_abbr = state_abbreviations.get(state_full, state_full)  
        return f"{county}, {state_abbr} (CT)"
    return "Unknown"


industry['GeoName'] = industry['NAME'].apply(parse_geo_name).astype(str)

assert industry[industry['GeoName'] == 'Unknown'].shape[0] == 0, 'There are Unknown GeoNames'

industry = industry.drop(['NAME'], axis=1)

industry.head(2)

,employed_sum,agri_forestry_mining,construction,manufacturing,wholesale_trade,retail_trade,transport_utilities,information,finance_real_estate,prof_sci_mgmt_admin,education_health,arts_entertainment,other_services,public_admin,Year,GeoFIPS,GeoName
0,2126,0,180,164,266,213,44,98,118,195,283,367,92,106,2019,1073003802,"Jefferson, AL (CT)"
1,1937,0,85,203,0,237,135,24,57,151,643,19,106,277,2019,1073001100,"Jefferson, AL (CT)"

In [23]:
rows1 = industry.shape[0]
industry.dropna(how='any', inplace=True)  # Drop NaN values inplace
rows2 = industry.shape[0]
print(f"This many rows were removed because of NaNs: {rows1 - rows2}")


industry.sort_values(by=['GeoFIPS', 'GeoName'], inplace=True)

cols_to_save = industry.shape[1] - 2
industry = industry[['GeoFIPS', 'GeoName'] + list(industry.columns[0:cols_to_save])]
industry = industry.reset_index(drop=True)
industry.head(2)

This many rows were removed because of NaNs: 0

,GeoFIPS,GeoName,employed_sum,agri_forestry_mining,construction,manufacturing,wholesale_trade,retail_trade,transport_utilities,information,finance_real_estate,prof_sci_mgmt_admin,education_health,arts_entertainment,other_services,public_admin,Year
0,1001020100,"Autauga, AL (CT)",952,0,50,101,31,158,78,34,39,89,121,140,65,46,2019
1,1001020100,"Autauga, AL (CT)",713,2,49,75,16,128,19,10,62,62,101,95,67,27,2022